{% extends 'base.html' %}

{% block content %}
{% load static %}

<section id="hero">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <form method='POST'>
                    {% csrf_token %}
                    {{ form | linebreaks }}
                    <button type = 'submit'>Submit</button>
                </form>
                {% if messages %}
                <ul class='messages'>
                {% for message in messages %}
                <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
                {{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


{% endblock  %}